<section>
<div class="brd">
  <h1>People</h1>
   <ul>
     {{#each people}}  
      
         <li class="square"><a href="/people/{{id}}">{{name}}</a></li>
    
      {{/each}}
  </ul>
</div>
</section>