<section>
<!--<article class="post">-->
 <div class="brd">
  <h1>Events</h1>
  <ul>
    {{#each Eventlist}}  
      
       <li class="square"><a href="/events/{{id}}">{{title}}</a></li>
        
      
    {{/each}}
  </ul>
</div>
<!--</article>-->
</section>