<section>
<!--<article class="post">-->
<div class="brd">
  <h1>Locations</h1>
  <ul>
    {{#each Locationlist}}  
      
       <li class="square"><a href="/locations/{{id}}">{{location}}</a></li>
        
      
    {{/each}}
  </ul>
</div>
<!--</article>-->
</section>